Repository openai/openai-agents-js, pull requests merged in 2025-09, with the labels that each got.

#423 Fix docs:build error
  docs/astro.config.mjs
  docs/package.json
  docs/src/plugins/typedoc-frontmatter.js
  pnpm-lock.yaml
Labels: documentation, dependencies

#426 fix(docs): fix link to results in human-in-the-loop guide
  docs/src/content/docs/guides/human-in-the-loop.mdx
Labels: documentation

#430 fix: allow setting an initial tracing configuration for Realtime
  .changeset/sharp-planets-rescue.md
  packages/agents-realtime/src/openaiRealtimeBase.ts
Labels: package:agents-realtime

#433 fix: preserve BrowserEventEmitter duplicate listener behavior
  packages/agents-core/src/shims/shims-browser.ts
  packages/agents-core/test/shims/browser-event-emitter.test.ts
Labels: codex

#435 feat: enable mcp exports for cloudflare workers
  .changeset/tasty-wings-fry.md
  packages/agents-core/src/shims/shims-workerd.ts
Labels: enhancement, package:agents-core

#413 feat: Fix #412 add optional details data to function tool execution
  .changeset/easy-rivers-build.md
  packages/agents-core/src/runImplementation.ts
  packages/agents-core/src/tool.ts
  packages/agents-realtime/src/realtimeSession.ts
Labels: enhancement, package:agents-core

#455 docs: Update Agents docs to align with Python SDK
  docs/src/content/docs/guides/agents.mdx
  examples/docs/agents/agentsAsTools.ts
Labels: documentation

#470 GPT‑5 model settings under providerData
  docs/src/content/docs/guides/models.mdx
Labels: documentation, package:agents-core

#475 Upgrade pnpm 10.16.0 -> 10.16.1
  .github/workflows/test.yml
  .github/workflows/update-docs.yml
  package.json
Labels: project

#490 Upgrade pnpm to 10.17.0
  .github/workflows/test.yml
  .github/workflows/update-docs.yml
  package.json
Labels: project

#487 fix: #483 expose Call ID in OpenAIRealtimeWebRTC
  .changeset/selfish-geckos-run.md
  packages/agents-realtime/src/openaiRealtimeWebRtc.ts
  packages/agents-realtime/test/openaiRealtimeWebRtc.test.ts
Labels: bug, package:agents-realtime

#481 feat: #460 Enable to customize the internal runner for an agent as too
  .changeset/warm-ties-sort.md
  examples/agent-patterns/agents-as-tools.ts
  packages/agents-core/src/agent.ts
  packages/agents-core/test/agent.test.ts
Labels: enhancement, package:agents-core

#497 fix: #495 Realtime session config falls back to legacy format when voice is set
  .changeset/all-mangos-send.md
  packages/agents-realtime/src/clientMessages.ts
  packages/agents-realtime/test/realtimeVoiceConfigRegression.test.ts
Labels: bug, package:agents-realtime

#503 fix(examples): correct AgentInputItem import type usage in examples
  examples/agent-patterns/llm-as-a-judge.ts
  examples/agent-patterns/routing.ts
  examples/basic/chat.ts
  examples/docs/results/historyLoop.ts
  examples/docs/running-agents/chatLoop.ts
  examples/nextjs/src/app/api/basic/route.ts
Labels: documentation

#502 feat(agents-realtime): add fetch-based WebSocket upgrade for Cloudflare/workerd
  .changeset/cloudflare-fetch-upgrade.md
  packages/agents-extensions/src/CloudflareRealtimeTransport.ts
  packages/agents-extensions/src/index.ts
  packages/agents-extensions/test/CloudflareRealtimeTransport.test.ts
  packages/agents-realtime/src/openaiRealtimeWebsocket.ts
Labels: enhancement, package:agents-realtime, package:agents-extensions

#511 docs: add Cloudflare Workers transport guide
  docs/astro.config.mjs
  docs/src/content/docs/extensions/cloudflare.mdx
  docs/src/content/docs/guides/troubleshooting.mdx
  docs/src/content/docs/guides/voice-agents/transport.mdx
  docs/src/content/docs/ja/extensions/cloudflare.mdx
  docs/src/content/docs/ja/guides/voice-agents/transport.mdx
  docs/src/content/docs/zh/extensions/cloudflare.mdx
  docs/src/content/docs/zh/guides/voice-agents/transport.mdx
  examples/docs/extensions/cloudflare-basic.ts
Labels: documentation, package:agents-extensions

#510 fix(randomUUID): add fallback when crypto.randomUUID is unavailable
  .changeset/lemon-falcons-hunt.md
  packages/agents-core/src/shims/shims-browser.ts
  packages/agents-core/test/shims/browser-event-emitter.test.ts
  packages/agents-core/test/shims/browser-shims.test.ts
Labels: enhancement, package:agents-core

#514 Document updates for #513
  docs/src/content/docs/guides/models.mdx
  docs/src/content/docs/ja/guides/models.mdx
  docs/src/content/docs/zh/guides/models.mdx
  examples/docs/models/gpt5DefaultModelSettings.ts
Labels: documentation

#525 feat: #478 add isEnabled to handoffs & agents as tools
  .changeset/loud-bags-enter.md
  examples/agent-patterns/README.md
  examples/agent-patterns/agents-as-tools-conditional.ts
  examples/agent-patterns/package.json
  examples/handoffs/README.md
  examples/handoffs/is-enabled.ts
  examples/handoffs/package.json
  package.json
  packages/agents-core/src/agent.ts
  packages/agents-core/src/handoff.ts
  packages/agents-core/src/index.ts
  packages/agents-core/src/run.ts
  packages/agents-core/src/runImplementation.ts
  packages/agents-core/src/tool.ts
  packages/agents-core/src/utils/serialize.ts
  packages/agents-core/test/agent.test.ts
  packages/agents-core/test/handoffs.test.ts
  packages/agents-core/test/tool.test.ts
  packages/agents-realtime/src/realtimeSession.ts
Labels: enhancement, package:agents-core, package:agents-realtime

#531 fix: #247 logging for a sub-agent w/ stopAtToolNames
  .changeset/cuddly-states-begin.md
  packages/agents-core/src/agent.ts
  packages/agents-core/test/agent.test.ts
Labels: package:agents-core

#530 fix: #494 Voice input transcription failing in realtime-demo
  .changeset/wet-snakes-stare.md
  packages/agents-realtime/src/realtimeSession.ts
  packages/agents-realtime/test/realtimeSession.test.ts
Labels: bug, package:agents-realtime

#471 feat(mcp): support structuredContent via useStructuredContent; return full CallToolResult
  .changeset/mcp-structured-content.md
  packages/agents-core/src/mcp.ts
  packages/agents-core/src/shims/mcp-server/browser.ts
  packages/agents-core/src/shims/mcp-server/node.ts
  packages/agents-core/test/mcpCache.test.ts
  packages/agents-core/test/mcpStructuredContent.test.ts
  packages/agents-core/test/mcpToolFilter.integration.test.ts
Labels: enhancement, package:agents-core

#529 fix: #526 separate tool_call_item and tool_call_output_item in stream events
  .changeset/public-wings-dress.md
  packages/agents-core/src/run.ts
  packages/agents-core/src/runImplementation.ts
  packages/agents-core/test/run.stream.test.ts
  packages/agents-core/test/runImplementation.test.ts
Labels: bug, package:agents-core

#527 Korean translations
  docs/astro.config.mjs
  docs/src/scripts/translate.ts
Labels: documentation

#535 Add guidelines for translation script contributors
  .github/workflows/update-docs.yml
  docs/src/scripts/translate.ts
Labels: documentation

#547 docs: fix import path typos in Voice Agents Quickstart
  docs/src/content/docs/guides/voice-agents/quickstart.mdx
  docs/src/content/docs/ja/guides/voice-agents/quickstart.mdx
  docs/src/content/docs/ko/guides/voice-agents/quickstart.mdx
  docs/src/content/docs/zh/guides/voice-agents/quickstart.mdx
Labels: documentation
