Repository openai/openai-agents-js, pull requests merged in 2025-08, with the labels that each got.

#286 feat: add timeout parameter to mcp callTool
  .changeset/three-monkeys-bake.md
  packages/agents-core/src/mcp.ts
  packages/agents-core/src/shims/mcp-server/node.ts
Labels: package:agents-core

#290 feat: add sse server implementation for mcp client
  .changeset/two-bats-judge.md
  examples/mcp/package.json
  examples/mcp/sse-example.ts
  packages/agents-core/src/index.ts
  packages/agents-core/src/mcp.ts
  packages/agents-core/src/shims/mcp-server/browser.ts
  packages/agents-core/src/shims/mcp-server/node.ts
  packages/agents-core/src/shims/shims-browser.ts
  packages/agents-core/src/shims/shims-node.ts
Labels: enhancement, package:agents-core

#301 chore: docs about ai-sdk v2 and v1 compatibility
  docs/src/content/docs/extensions/ai-sdk.mdx
Labels: documentation, package:agents-extensions

#303 fix(usage): handle OpenAI snake_case usage fields (#298)
  .changeset/cool-cloths-fry.md
  packages/agents-core/src/usage.ts
  packages/agents-core/test/usage.test.ts
  packages/agents-openai/test/openaiChatCompletionsModel.test.ts
Labels: bug, package:agents-core, package:agents-openai

#305 fix: Pass through strict flag for functions tools when using completion
  .changeset/brave-swans-smile.md
  packages/agents-openai/src/openaiChatCompletionsConverter.ts
  packages/agents-openai/test/openaiChatCompletionsConverter.test.ts
Labels: bug, package:agents-openai

#318 fix(realtime-session): preserve audio format and config fields on agent update
  .changeset/preserve-audio-formats-on-agent-update.md
  packages/agents-realtime/src/realtimeSession.ts
  packages/agents-realtime/test/realtimeSession.test.ts
Labels: bug, package:agents-realtime

#319 Add custom fetch support to StreamableHTTP MCP transport
  .changeset/purple-chicken-protect.md
  docs/src/content/docs/guides/mcp.mdx
  docs/src/content/docs/ja/guides/mcp.mdx
  examples/mcp/streamable-http-custom-fetch-example.ts
  packages/agents-core/package.json
  packages/agents-core/src/mcp.ts
  packages/agents-core/src/shims/mcp-server/node.ts
  pnpm-lock.yaml
Labels: enhancement, package:agents-core

#335 Migrate translation script to gpt-5
  .github/workflows/update-docs.yml
  docs/src/content/docs/ja/extensions/ai-sdk.mdx
  docs/src/content/docs/ja/extensions/twilio.mdx
  docs/src/content/docs/ja/guides/agents.mdx
  docs/src/content/docs/ja/guides/config.mdx
  docs/src/content/docs/ja/guides/context.mdx
  docs/src/content/docs/ja/guides/guardrails.mdx
  docs/src/content/docs/ja/guides/handoffs.mdx
  docs/src/content/docs/ja/guides/human-in-the-loop.mdx
  docs/src/content/docs/ja/guides/mcp.mdx
  docs/src/content/docs/ja/guides/models.mdx
  docs/src/content/docs/ja/guides/multi-agent.md
  docs/src/content/docs/ja/guides/quickstart.mdx
  docs/src/content/docs/ja/guides/release.mdx
  docs/src/content/docs/ja/guides/results.mdx
  docs/src/content/docs/ja/guides/running-agents.mdx
  docs/src/content/docs/ja/guides/streaming.mdx
  docs/src/content/docs/ja/guides/tools.mdx
  docs/src/content/docs/ja/guides/tracing.mdx
  docs/src/content/docs/ja/guides/troubleshooting.mdx
  docs/src/content/docs/ja/guides/voice-agents.mdx
  docs/src/content/docs/ja/guides/voice-agents/build.mdx
  docs/src/content/docs/ja/guides/voice-agents/quickstart.mdx
  docs/src/content/docs/ja/guides/voice-agents/transport.mdx
  docs/src/content/docs/ja/index.mdx
  docs/src/scripts/translate.ts
Labels: documentation

#332 feat: update helper message when trufflehog not found on system
  .husky/pre-commit
Labels: project

#342 Fix #187 Agent outputType type error with zod@3.25.68+
  .changeset/spotty-nights-tell.md
  docs/package-lock.json
  examples/agent-patterns/package.json
  examples/ai-sdk/package.json
  examples/basic/package.json
  examples/customer-service/package.json
  examples/docs/package.json
  examples/financial-research-agent/package.json
  examples/handoffs/package.json
  examples/mcp/package.json
  examples/model-providers/package.json
  examples/nextjs/package.json
  examples/realtime-next/package.json
  examples/realtime-twilio/package.json
  examples/research-bot/package.json
  examples/tools/package.json
  packages/agents-core/package.json
  packages/agents-core/src/agent.ts
  packages/agents-core/src/mcp.ts
  packages/agents-core/src/metadata.ts
  packages/agents-core/src/runImplementation.ts
  packages/agents-core/src/runState.ts
  packages/agents-core/src/tool.ts
  packages/agents-core/src/types/helpers.ts
  packages/agents-core/src/types/protocol.ts
  packages/agents-core/src/utils/typeGuards.ts
  packages/agents-core/test/agent.test.ts
  packages/agents-core/test/handoff.test.ts
  packages/agents-core/test/handoffs.test.ts
  packages/agents-core/test/run.test.ts
  packages/agents-core/test/runImplementation.test.ts
  packages/agents-core/test/stubs.ts
  packages/agents-core/test/tool.test.ts
  packages/agents-core/test/utils/tools.test.ts
  packages/agents-core/test/utils/typeGuards.test.ts
  packages/agents-extensions/package.json
  packages/agents-extensions/src/metadata.ts
  packages/agents-openai/package.json
  packages/agents-openai/src/metadata.ts
  packages/agents-openai/src/openaiResponsesModel.ts
  packages/agents-openai/src/tools.ts
  packages/agents-realtime/package.json
  packages/agents-realtime/src/items.ts
  packages/agents-realtime/src/metadata.ts
  packages/agents-realtime/src/openaiRealtimeEvents.ts
  packages/agents-realtime/test/stubs.ts
  packages/agents/package.json
  pnpm-lock.yaml
Labels: bug, package:agents-core, package:agents-realtime, package:agents-openai, package:agents-extensions

#340 feat(agents-core): expose RunState history getter
  .changeset/expose-runstate-history.md
  packages/agents-core/src/runState.ts
  packages/agents-core/test/runState.test.ts
Labels: enhancement, codex, package:agents-core

#350 Add gpt-oss, gpt-5 examples
  examples/basic/hello-world-gpt-oss.ts
  examples/basic/hello-world-gpt5.ts
  examples/basic/package.json
Labels: documentation

#355 Upgrade underlying openai package to the latest version
  .changeset/common-turtles-taste.md
  examples/docs/package.json
  packages/agents-core/package.json
  packages/agents-core/src/metadata.ts
  packages/agents-openai/package.json
  packages/agents-openai/src/metadata.ts
  packages/agents-openai/src/openaiChatCompletionsModel.ts
  packages/agents/package.json
  packages/agents/src/metadata.ts
  pnpm-lock.yaml
Labels: package:agents-core, package:agents-openai, dependencies

#362 Fix a bug where responses api does not accept both outputType and verbosity parameter for gpt-5
  .changeset/public-socks-travel.md
  examples/basic/hello-world-gpt-5.ts
  packages/agents-openai/src/openaiResponsesModel.ts
Labels: bug, package:agents-openai

#363 Add a quick opt-in option to switch to gpt-5 and fix issues around gpt-5
  .changeset/two-squids-smell.md
  examples/basic/hello-world-gpt-5.ts
  examples/basic/hello-world.ts
  examples/basic/reasoning.ts
  examples/financial-research-agent/agents.ts
  examples/handoffs/index.ts
  examples/mcp/hosted-mcp-human-in-the-loop.ts
  examples/mcp/hosted-mcp-on-approval.ts
  examples/mcp/hosted-mcp-simple.ts
  examples/mcp/streamable-http-custom-fetch-example.ts
  examples/mcp/streamable-http-example.ts
  examples/model-providers/custom-example-agent.ts
  examples/tools/file-search.ts
  examples/tools/image-generation.ts
  packages/agents-core/src/agent.ts
  packages/agents-core/src/defaultModel.ts
  packages/agents-core/src/index.ts
  packages/agents-core/src/run.ts
  packages/agents-core/src/runImplementation.ts
  packages/agents-core/test/runImplementation.test.ts
  packages/agents-openai/src/openaiProvider.ts
Labels: enhancement, package:agents-core, package:agents-openai

#367 fix(tracing): include groupId in trace export log message
  packages/agents-core/src/tracing/processor.ts
Labels: package:agents-core

#375 fix: emit agent_end lifecycle event for streaming agents
  .changeset/fix-streaming-agent-end-lifecycle.md
  packages/agents-core/src/run.ts
  packages/agents-core/test/run.stream.test.ts
  packages/agents-core/test/run.test.ts
Labels: package:agents-core

#382 Update running-agents.mdx
  docs/src/content/docs/guides/running-agents.mdx
Labels: documentation

#372 Add a changeset to consistenly bump minor versions for all packages
  .changeset/pink-moles-travel.md
Labels: project

#385 Refresh #357 changesets
  .changeset/chubby-sides-sink.md
Labels: project

#390 Fix changeset configuration to follow consistent minor version bumps
  .changeset/config.json
  .changeset/wicked-snails-camp.md
  packages/agents-extensions/package.json
  pnpm-lock.yaml
Labels: project

#391 Make docs and comments more consistent using Codex
  .changeset/nervous-windows-raise.md
  AGENTS.md
  README.md
  docs/README.md
  docs/src/content/docs/guides/agents.mdx
  docs/src/content/docs/guides/config.mdx
  docs/src/content/docs/guides/tools.mdx
  docs/src/content/docs/guides/voice-agents/quickstart.mdx
  docs/src/content/docs/ja/guides/config.mdx
  examples/docs/readme/readme-voice-agent.ts
  packages/agents-core/src/runContext.ts
  packages/agents-core/test/tracing.test.ts
  packages/agents-realtime/src/openaiRealtimeWebRtc.ts
  packages/agents-realtime/src/realtimeSession.ts
  packages/agents/README.md
Labels: documentation

#369 Update ai-sdk document page after releasing #356
  docs/src/content/docs/extensions/ai-sdk.mdx
Labels: documentation
