Repository openai/openai-agents-js, pull requests merged in 2025-06, with the labels that each got.

#11 Adjust precommit secret scan for CI
  .husky/pre-commit
Labels: codex

#17 Fix guardrail interruption for realtime session
  .changeset/wise-results-mate.md
  examples/realtime-next/src/app/websocket/page.tsx
  packages/agents-realtime/src/openaiRealtimeBase.ts
  packages/agents-realtime/src/openaiRealtimeEvents.ts
  packages/agents-realtime/src/openaiRealtimeWebRtc.ts
  packages/agents-realtime/src/openaiRealtimeWebsocket.ts
  packages/agents-realtime/src/realtimeSession.ts
  packages/agents-realtime/src/transportLayerEvents.ts
  packages/agents-realtime/test/realtimeSession.test.ts
Labels: codex, package:agents-realtime

#25 fix: schema version serialization
  .changeset/fix-schema-version-serialization.md
  packages/agents-core/src/runState.ts
  packages/agents-core/test/runState.test.ts
Labels: package:agents-core

#31 chore: downgrade to patch change
  .changeset/wicked-masks-tell.md
Labels: project

#24 fix: Reduce warning/stdout outputs during test executions
  .changeset/hip-needles-love.md
  packages/agents-core/src/runImplementation.ts
  packages/agents-core/test/run.test.ts
  packages/agents-core/test/runImplementation.test.ts
  packages/agents-core/test/runState.test.ts
  packages/agents-core/test/shims/mcp-stdio/node.test.ts
  packages/agents-core/test/stubs.ts
  packages/agents-extensions/test/aiSdk.test.ts
  packages/agents-extensions/test/index.test.ts
Labels: package:agents-core, package:agents-extensions

#40 fix(shims): Bind crypto to randomUUID
  .changeset/quiet-flies-march.md
  packages/agents-core/src/shims/shims-browser.ts
Labels: bug, package:agents-core

#41 fix(shims): Naively polyfill AsyncLocalStorage in browser
  .changeset/purple-oranges-shout.md
  packages/agents-core/src/shims/shims-browser.ts
Labels: bug, package:agents-core

#37 fix(agents-core): ensure handoff messages use valid JSON
  .changeset/social-mirrors-juggle.md
  packages/agents-core/src/handoff.ts
  packages/agents-core/test/handoffs.test.ts
Labels: package:agents-core

#51 docs: redesign to fit more new centralized design
  docs/src/components/Hero.astro
  docs/src/content/docs/index.mdx
  docs/src/content/docs/ja/index.mdx
  docs/src/styles/global.css
Labels: documentation

#54 fix: streaming guide link on running-agents page
  docs/src/content/docs/guides/running-agents.mdx
Labels: documentation

#58 Update the translation pipeline script and apply the latest changes to ja docs
  docs/src/content/docs/ja/extensions/ai-sdk.mdx
  docs/src/content/docs/ja/extensions/twilio.mdx
  docs/src/content/docs/ja/guides/agents.mdx
  docs/src/content/docs/ja/guides/config.mdx
  docs/src/content/docs/ja/guides/context.mdx
  docs/src/content/docs/ja/guides/guardrails.mdx
  docs/src/content/docs/ja/guides/handoffs.mdx
  docs/src/content/docs/ja/guides/human-in-the-loop.mdx
  docs/src/content/docs/ja/guides/models.mdx
  docs/src/content/docs/ja/guides/multi-agent.md
  docs/src/content/docs/ja/guides/quickstart.mdx
  docs/src/content/docs/ja/guides/results.mdx
  docs/src/content/docs/ja/guides/running-agents.mdx
  docs/src/content/docs/ja/guides/streaming.mdx
  docs/src/content/docs/ja/guides/tools.mdx
  docs/src/content/docs/ja/guides/tracing.mdx
  docs/src/content/docs/ja/guides/troubleshooting.mdx
  docs/src/content/docs/ja/guides/voice-agents.mdx
  docs/src/content/docs/ja/guides/voice-agents/build.mdx
  docs/src/content/docs/ja/guides/voice-agents/quickstart.mdx
  docs/src/content/docs/ja/guides/voice-agents/transport.mdx
  docs/src/content/docs/ja/index.mdx
  docs/src/scripts/translate.ts
Labels: documentation

#65 Add docs for MCP tools
  docs/src/content/docs/guides/tools.mdx
  docs/src/content/docs/ja/guides/tools.mdx
  examples/docs/tools/mcpLocalServer.ts
Labels: documentation, codex

#66 feat(realtime): add changePeerConnection option
  .changeset/change-peer-connection.md
  packages/agents-realtime/src/openaiRealtimeWebRtc.ts
  packages/agents-realtime/test/openaiRealtimeWebRtc.test.ts
Labels: codex, package:agents-realtime

#63 feat: handle unknown hosted tools in responses model
  .changeset/rich-buses-marry.md
  packages/agents-openai/src/openaiResponsesModel.ts
  packages/agents-openai/test/openaiResponsesModel.helpers.test.ts
Labels: codex, package:agents-openai

#69 chore: update version details incl. linking versions
  .changeset/config.json
  docs/astro.config.mjs
  docs/src/content/docs/guides/release.mdx
  docs/src/content/docs/ja/guides/release.mdx
Labels: documentation

#50 Fix browser and cloudflare trace exports
  .changeset/proud-berries-kiss.md
  docs/src/content/docs/guides/tracing.mdx
  docs/src/content/docs/guides/troubleshooting.mdx
  docs/src/content/docs/ja/guides/tracing.mdx
  docs/src/content/docs/ja/guides/troubleshooting.mdx
  examples/docs/tracing/cloudflareWorkers.ts
  integration-tests/README.md
  integration-tests/bun/package.json
  integration-tests/cloudflare-workers/worker/package.json
  integration-tests/cloudflare-workers/worker/src/index.ts
  integration-tests/cloudflare.test.ts
  integration-tests/deno/package.json
  integration-tests/vite-react.test.ts
  integration-tests/vite-react/.gitignore
  integration-tests/vite-react/.npmrc
  integration-tests/vite-react/index.html
  integration-tests/vite-react/package.json
  integration-tests/vite-react/src/App.tsx
  integration-tests/vite-react/src/main.tsx
  integration-tests/vite-react/src/vite-env.d.ts
  integration-tests/vite-react/tsconfig.app.json
  integration-tests/vite-react/tsconfig.json
  integration-tests/vite-react/tsconfig.node.json
  integration-tests/vite-react/vite.config.ts
  package.json
  packages/agents-core/src/config.ts
  packages/agents-core/src/shims/shims-browser.ts
  packages/agents-core/src/shims/shims-node.ts
  packages/agents-core/src/shims/shims-workerd.ts
  packages/agents-core/src/tracing/index.ts
  packages/agents-core/src/tracing/processor.ts
  packages/agents-core/src/tracing/provider.ts
  pnpm-lock.yaml
Labels: bug, package:agents-core

#75 chore(examples): add reasoning example
  examples/basic/package.json
  examples/basic/reasoning.ts
Labels: documentation

#76 docs: note setDefaultOpenAIKey in quickstart
  docs/src/content/docs/guides/quickstart.mdx
  docs/src/content/docs/ja/guides/quickstart.mdx
Labels: documentation, codex

#33 Fix #23 Add Hosted MCP server tool support
  .changeset/wild-stars-teach.md
  examples/mcp/hosted-mcp-human-in-the-loop.ts
  examples/mcp/hosted-mcp-on-approval.ts
  examples/mcp/hosted-mcp-simple.ts
  examples/mcp/package.json
  packages/agents-core/src/index.ts
  packages/agents-core/src/items.ts
  packages/agents-core/src/runContext.ts
  packages/agents-core/src/runImplementation.ts
  packages/agents-core/src/runState.ts
  packages/agents-core/src/tool.ts
  packages/agents-core/src/types/index.ts
  packages/agents-core/src/types/protocol.ts
  packages/agents-core/src/types/providerData.ts
  packages/agents-core/test/run.test.ts
  packages/agents-core/test/runState.test.ts
  packages/agents-core/test/tool.test.ts
  packages/agents-openai/src/openaiResponsesModel.ts
  packages/agents-openai/src/tools.ts
  packages/agents-openai/src/types/providerData.ts
  packages/agents-openai/src/utils/providerData.ts
  packages/agents-openai/test/openaiResponsesModel.helpers.test.ts
  packages/agents-openai/test/utils/providerData.test.ts
  packages/agents-realtime/src/realtimeSession.ts
Labels: package:agents-core, package:agents-openai

#80 Add remote MCP server (Streamable HTTP) support; fixes #78
  .changeset/crazy-coats-give.md
  examples/mcp/package.json
  examples/mcp/streamable-http-example.ts
  packages/agents-core/src/index.ts
  packages/agents-core/src/mcp.ts
  packages/agents-core/src/shims/mcp-server/browser.ts
  packages/agents-core/src/shims/mcp-server/node.ts
  packages/agents-core/src/shims/shims-browser.ts
  packages/agents-core/src/shims/shims-node.ts
  packages/agents-core/src/shims/shims-workerd.ts
  packages/agents-core/test/mcpCache.test.ts
  packages/agents-core/test/shims/mcp-server/browser.test.ts
  packages/agents-core/test/shims/mcp-server/node.test.ts
Labels: enhancement, package:agents-core

#82 Add allowed_tools and headers to hosted mcp server factory method
  .changeset/eighty-dingos-pump.md
  examples/mcp/filesystem-example.ts
  examples/mcp/hosted-mcp-human-in-the-loop.ts
  examples/mcp/hosted-mcp-on-approval.ts
  examples/mcp/hosted-mcp-simple.ts
  packages/agents-core/src/tool.ts
  packages/agents-core/src/types/providerData.ts
  packages/agents-openai/src/openaiResponsesModel.ts
Labels: package:agents-core, package:agents-openai

#77 Update HITL tools in the realtime-next example app
  examples/realtime-next/src/app/page.tsx
Labels: documentation

#81 Add the MCP document page
  docs/astro.config.mjs
  docs/src/content/docs/guides/mcp.mdx
  docs/src/content/docs/ja/guides/mcp.mdx
  docs/src/styles/global.css
  examples/docs/mcp/hosted.ts
  examples/docs/mcp/hostedAgent.ts
  examples/docs/mcp/hostedHITL.ts
  examples/docs/mcp/hostedStream.ts
  examples/docs/mcp/stdio.ts
  examples/docs/mcp/streamableHttp.ts
Labels: documentation

#88 chore(examples): add local file input example
  examples/basic/local-file.ts
  examples/basic/media/partial_o3-and-o4-mini-system-card.pdf
  examples/basic/package.json
Labels: documentation

#90 Run pnpm self-update & pnpm upgrade
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Labels: project

#95 Consistently use node: prefix in example apps
  examples/agent-patterns/routing.ts
  examples/basic/index.ts
  examples/basic/local-image.ts
  examples/customer-service/index.ts
  examples/docs/models/customProviders.ts
  examples/docs/streaming/streamedHITL.ts
  examples/research-bot/main.ts
  examples/tools/image-generation.ts
Labels: documentation

#105 Add guardrail itemId details
  docs/src/content/docs/guides/voice-agents/build.mdx
  docs/src/content/docs/ja/guides/voice-agents/build.mdx
  packages/agents-realtime/src/realtimeSession.ts
  packages/agents-realtime/src/realtimeSessionEvents.ts
  packages/agents-realtime/test/realtimeSession.test.ts
Labels: codex, package:agents-realtime

#103 Improve Human-In-The-Loop
  .changeset/dark-melons-go.md
  .changeset/weak-views-care.md
  eslint.config.mjs
  examples/nextjs/.gitignore
  examples/nextjs/README.md
  examples/nextjs/components.json
  examples/nextjs/next.config.ts
  examples/nextjs/package.json
  examples/nextjs/postcss.config.mjs
  examples/nextjs/public/file.svg
  examples/nextjs/public/globe.svg
  examples/nextjs/public/next.svg
  examples/nextjs/public/vercel.svg
  examples/nextjs/public/window.svg
  examples/nextjs/src/agents.ts
  examples/nextjs/src/app/api/basic/route.ts
  examples/nextjs/src/app/favicon.ico
  examples/nextjs/src/app/globals.css
  examples/nextjs/src/app/layout.tsx
  examples/nextjs/src/app/page.tsx
  examples/nextjs/src/components/App.tsx
  examples/nextjs/src/components/Approvals.tsx
  examples/nextjs/src/components/History.tsx
  examples/nextjs/src/components/icons/ArrowUpIcon.tsx
  examples/nextjs/src/components/icons/ClockIcon.tsx
  examples/nextjs/src/components/icons/FunctionsIcon.tsx
  examples/nextjs/src/components/messages/FunctionCall.tsx
  examples/nextjs/src/components/messages/TextMessage.tsx
  examples/nextjs/src/components/ui/Button.tsx
  examples/nextjs/src/components/ui/dialog.tsx
  examples/nextjs/src/components/ui/utils.ts
  examples/nextjs/src/db.ts
  examples/nextjs/src/lib/utils.ts
  examples/nextjs/tsconfig.json
  examples/nextjs/vercel.json
  packages/agents-core/src/run.ts
  packages/agents-core/src/runState.ts
  pnpm-lock.yaml
Labels: documentation, package:agents-core

#111 Add debug logging for ai-sdk requests/responses
  packages/agents-extensions/src/aiSdk.ts
Labels: codex, package:agents-extensions

#96 Improve the types of RealtimeSession configuration
  .changeset/dull-beans-arrive.md
  examples/docs/voice-agents/turnDetection.ts
  packages/agents-realtime/src/clientMessages.ts
  packages/agents-realtime/src/openaiRealtimeBase.ts
  packages/agents-realtime/src/realtimeSession.ts
Labels: enhancement, package:agents-realtime

#123 docs(tracing): add external trace providers
  docs/src/content/docs/guides/tracing.mdx
  docs/src/content/docs/ja/guides/tracing.mdx
Labels: documentation

#125 Fix #124 by allowing an empty object for Usage#add method
  .changeset/clever-tools-reply.md
  packages/agents-core/src/usage.ts
  packages/agents-core/test/usage.test.ts
Labels: package:agents-core

#128 Do not cache the toolsList per default
  .changeset/ten-lizards-deny.md
  packages/agents-core/src/mcp.ts
  packages/agents-core/test/mcpCache.test.ts
Labels: bug, package:agents-core

#146 Fix #129 The model in run config should be used over an agent's default setting
  .changeset/fast-ads-return.md
  packages/agents-core/src/agent.ts
  packages/agents-core/src/run.ts
  packages/agents-core/test/run.test.ts
Labels: bug, package:agents-core

#144 Fix #140 by adjusting the internals of agents-openai module
  .changeset/wild-hotels-jump.md
  examples/tools/web-search.ts
  packages/agents-openai/src/openaiResponsesModel.ts
  packages/agents-openai/test/openaiResponsesModel.helpers.test.ts
Labels: bug, package:agents-openai

#148 Fix a bug where some of the exceptions thrown from runImplementation.ts could be unhandled
  .changeset/poor-regions-try.md
  packages/agents-core/src/result.ts
Labels: bug, package:agents-core

#145 Fix #138 by checking the unexpected absence of currentAgent.handoffs
  .changeset/better-kids-trade.md
  .changeset/upset-baboons-shop.md
  packages/agents-core/src/run.ts
Labels: bug, package:agents-core
